@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Dosis';

body{

    background: #546E7A;
    margin: 0 auto;

}

#box{

    padding: 1%;
    width: 25%;
    box-shadow: 5px 5px 10px #37474F;
    background: #37474F;
    margin: 15% auto 0;

}

input[type=text]{

    border: transparent;
	background: white;
	font-family: "Dosis", sans-serif;
	display: inline-block;
	width: 45%;
	padding: 1px;
	font-size: 100%;
	margin: 2% auto 4%;
    color: black;
    float: left;
    box-shadow: 3px 3px 5px #263238;

}

input[type=email] {

    border: transparent;
	background: white;
	font-family: "Dosis", sans-serif;
	display: inline-block;
	width: 45%;
	padding: 1px;
	font-size: 100%;
	margin: 2% auto 4%;
    color: black;
    float: right;
    box-shadow: 3px 3px 5px #263238;

}

textarea{
    display: block;
    font-family: "Dosis", sans-serif;
    width: 90%;
    border: transparent;
	background: white;
    margin: 2% auto;
    font-size: 100%;
    padding: 1px;
    box-shadow: 3px 3px 5px #263238;
}

input[type=submit]{

    display: block;
    font-family: "Dosis", sans-serif;
    border: transparent;
    background: white;
    margin: 2% auto;
    font-size: 100%;
    box-shadow: 3px 3px 5px #263238;

}

#made, a{

    color: white;
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin: 1% auto;
    font-size: 90%;

}

#text{

    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 5% auto;
    font-size: 160%;

}

#ftitle{

    color: white;
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin: 1% auto;
    font-size: 160%;

}