<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Form</title>
    <link href="{{ url_for('static', filename='request.css') }}" rel="stylesheet" type="text/css">
    <script>
        function validateForm() {
            var name = document.forms["requestf"]["name"].value;
            var email = document.forms["requestf"]["email"].value;
            var textarea = document.forms["requestf"]["request"].value;
            var telegram = document.forms["requestf"]["telegram"].value;
            if (name == null || name == "" || email == null || email == "" || textarea == null || textarea == "" || telegram == "@" || telegram == null || telegram == "") {
                alert("Please enter all the fields.");
                return false;
            }
        }
    </script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<body>
    <div id="box">
        <div id="ftitle">Request Form</div>
        <form name="requestf" action="" method="post" onsubmit="return validateForm()">
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="email" placeholder="Your Email">
            <input name="telegram" type="text" value="@" placeholder="Your telegram Username">
            <textarea name="request" cols="40" rows="10" placeholder="Your Request"></textarea>
            <input type="submit" value="Send request">
        </form>
    </div>
    <div id="made"><a href="https://bitbucket.org/francesco_vallone/telegramrequestbot/overview">TelegramRequestBot</a> - A bot made with <a href="https://botogram.pietroalbini.io/">botogram</a></div>
</body>
</html>