<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Sent</title>
    <link href="{{ url_for('static', filename='request.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="text">The request has been successfully submitted</div>
</body>
</html>